---
import { Image } from "astro:assets";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.publishdate.valueOf() - a.data.publishdate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Blog"} description={SITE_DESCRIPTION} />
	</head>
	<body class="pt-32 bg-gradient-to-b from-black to-gray-900">
		<Header />
		<main class="w-[70%]">
			<section>
				<ul
					class="flex w-full flex-wrap gap-2 list-none justify-center m-0 p-0 lg:gap-8"
				>
					{
						posts.map((post) => (
							<li class="group/item text-center lg:w-[30%] lg:first:w-[85%] lg:first:px-40 xl:first:w-[70%]">
								<a
									class="group/ref"
									href={`/blog/${post.slug}/`}
								>
									<Image
										class="mb-2 rounded-xl group-hover/ref:shadow-2xl group-hover/ref:shadow-[#7951a9c7]"
										src={post.data.cover}
										alt=""
									/>
									<h4 class="m-0 leading-none text-[#d3d3d3] group-hover/ref:text-royalPurple lg:group-first:text-4xl font-[Iceland]">
										{post.data.title}
									</h4>
									<p class="m-0 text-[#b9b9b9] group-hover/ref:text-royalPurple">
										<FormattedDate
											date={post.data.publishdate}
										/>
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
