---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import LinkEntry from "../components/LinkEntry.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) =>
		b.data.publishdate.valueOf() - a.data.publishdate.valueOf() ||
		b.id.localeCompare(a.id),
);

// FNV-1a variant
function hash(str: string) {
	let hash = 2166136261;
	for (let i = 0; i < str.length; i++) {
		hash ^= str.charCodeAt(i);
		hash = Math.imul(hash, 16777619);
	}
	return (hash >>> 0).toString(16).padStart(7, "0").slice(0, 7);
}

function formatDate(date: Date) {
	return date.toISOString().split("T")[0].replaceAll("-", ".");
}
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		{
			posts.map((post) => {
				return (
					<LinkEntry
						href={`/blog/${post.id}/`}
						indicator="READ_ENTRY"
						class="link"
					>
						<div class="metadata-column">
							<span>{formatDate(post.data.publishdate)}</span>
							<span>[rev:{hash(post.id)}]</span>
						</div>

						<h2 class="title-text">{post.data.title}</h2>
					</LinkEntry>
				);
			})
		}
	</main>
</BaseLayout>

<style>
	main {
		padding-top: 5rem;
		padding-bottom: 4rem;
		max-width: 56rem;
		margin: 0 auto;
		font-family: "Share Tech Mono", monospace;
	}

	.link {
		display: flex;
		flex-direction: column;
		margin-top: 0.25rem;

		@media (min-width: 640px) {
			flex-direction: row;
			gap: 1.5rem;
		}
	}

	.metadata-column {
		display: flex;
		align-items: center;

		gap: 1rem;

		font-size: 0.75rem;
		font-family: "Liberation Mono", monospace;

		color: var(--text-body);
		opacity: 0.7;
	}

	.title-text {
		display: flex;
		align-items: center;

		font-size: 0.875rem;
		margin: 0;

		@media (min-width: 640px) {
			font-size: 1rem;
		}
	}
</style>
