---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SocialLink from "../components/SocialLink.astro";

interface OssProjectInfo {
	name: string;
	image: string;
	url: string;
	prs: number[];
}

const ossProjectsInfo: OssProjectInfo[] = [
	{
		name: "Lynis",
		image: "/lynis.svg",
		url: "https://github.com/CISOfy/lynis",
		prs: [1009],
	},
	{
		name: "Gitleaks",
		image: "/gitleaks.svg",
		url: "https://github.com/gitleaks/gitleaks",
		prs: [661],
	},
	{
		name: "Pysyft",
		image: "/open-mined.svg",
		url: "https://github.com/OpenMined/pysyft",
		prs: [5554],
	},
	{
		name: "sycret",
		image: "/open-mined.svg",
		url: "https://github.com/OpenMined/sycret",
		prs: [17, 18, 25, 36],
	},
	{
		name: "SyMPC",
		image: "/open-mined.svg",
		url: "https://github.com/OpenMined/SyMPC",
		prs: [114, 128, 130, 132, 162, 170, 174, 195, 216, 253, 281],
	},
];
---

<html lang="en">
	<head>
		<BaseHead title="Open Source" description="description" />
		<style>
			html,
			body {
				height: 100%;
				width: 100%;
				margin: 0;
				background-color: #222222;
			}

			main {
				width: 100%;
			}

			a {
				width: fit-content;
			}

			.grid {
				width: 100%;
			}

			.grid-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				padding: 2rem 0;

				border: 2px dashed var(--accent);
			}

			.grid-sizer {
				width: 20%;
			}

			@media only screen and (min-width: 480px) {
				.grid-item {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: auto;
					padding: 2rem;

					border: 2px dashed var(--accent);
				}
			}
		</style>

		<script>
			import Masonry from "masonry-layout";

			document.addEventListener("DOMContentLoaded", () => {
				new Masonry(".grid", {
					itemSelector: ".grid-item",
					columnWidth: 1,
					percentPosition: true,
				});
			});
		</script>
	</head>

	<body>
		<Header />
		<main>
			<div class="grid">
				{
					ossProjectsInfo.map((info) => (
						<div class="grid-item">
							<h2>{info.name}</h2>
							<SocialLink
								class="w-12 h-12"
								href={info.url}
								image={info.image}
							/>

							{info.prs.map((pr) => (
								<a href={`${info.url}/pull/${pr}`}>
									{`#${pr}`}
								</a>
							))}
						</div>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>
