---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SocialLink from "../components/SocialLink.astro";

interface OssProjectInfo {
	name: string;
	image: string;
	url: string;
	prs: number[];
}

const ossProjectsInfo: OssProjectInfo[] = [
	{
		name: "Lynis",
		image: "/lynis.svg",
		url: "https://github.com/CISOfy/lynis",
		prs: [1009],
	},
	{
		name: "Gitleaks",
		image: "/gitleaks.svg",
		url: "https://github.com/gitleaks/gitleaks",
		prs: [661],
	},
	{
		name: "Pysyft",
		image: "/open-mined.svg",
		url: "https://github.com/OpenMined/pysyft",
		prs: [5554],
	},
	{
		name: "sycret",
		image: "/open-mined.svg",
		url: "https://github.com/OpenMined/sycret",
		prs: [17, 18, 25, 36],
	},
	{
		name: "SyMPC",
		image: "/open-mined.svg",
		url: "https://github.com/OpenMined/SyMPC",
		prs: [114, 128, 130, 132, 162, 170, 174, 195, 216, 253, 281],
	},
];
---

<html lang="en">
	<head>
		<BaseHead title="Open Source" description="description" />

		<script>
			import Masonry from "masonry-layout";

			document.addEventListener("DOMContentLoaded", () => {
				new Masonry(".grid", {
					itemSelector: ".grid-item",
					columnWidth: 1,
					percentPosition: true,
				});
			});
		</script>
	</head>

	<body class="bg-gradient-to-b from-black to-gray-900">
		<Header />
		<main class="w-full h-screen pt-32">
			<div class="grid">
				{
					ossProjectsInfo.map((info) => (
						<div class="grid-item flex flex-col items-center w-full px-8 bg-gray-800/30 p-8 rounded-lg border border-gray-700 min-[480px]:w-auto min-[480px]:py-8">
							<h2>{info.name}</h2>
							<SocialLink
								class="w-12 h-12"
								href={info.url}
								image={info.image}
							/>

							{info.prs.map((pr) => (
								<a href={`${info.url}/pull/${pr}`}>
									{`#${pr}`}
								</a>
							))}
						</div>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>
